.article {
  .imageWrapper {
    height: 167px;
    // position: absolute;
    text-align: right;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    .image {
      width: 25%;
      height: 25%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
