article {
  // width: 500px;
  height: 200px;
  // position: relative;
  border-radius: 1em;
  overflow: hidden;
  // box-shadow: 0 0 25px -10px black;
  // box-shadow: 0 20px 25px -10px rgba(0, 0, 0, 0.2);
  // outline: 4px solid #fff;
  // color: black;
  display: flex;
  flex-direction: row;

  .content {
    padding: 1em;
    height: calc(100% - 2em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
  }

  .image {
    height: 100%;
    // position: absolute;
    text-align: right;
    aspect-ratio: 1;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
